@(proputils : com.arka.common.utils.PropUtils)

@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")

<script>
		var session= "@session";
		var authUrl = "@session.get("auth_url")";

		$(function(){
			renewFlag = "@request().getQueryString("renew")";
			incompleteFlag = "@request().getQueryString("incomplete")";
		});
		
</script>

   	 <!--Login section start-->
	<section class="login js__loginPop__up">
            <div class="loginContainerOuter">
                <div class="loginContainer">
                    <div class="loginContainer__logo"><img class="loginContainer__logoImg img-responsive" src="@image_url/logo-min.png" alt="Logo" />
                    </div>
                    <a class="js__loginContainer__close loginContainer__close sprite" href="javascript:;"></a>
                    
                    <form class="js__loginContainer__form loginContainer__form" onSubmit="return false;">
                    	<div class="loginContainer__formValidator">
                    		
                    	</div>
                        <div class="loginContainer__formInner js__loginContainer__formInner">
                        	<p class="loginChecker__forClaim js__loginChecker__forClaim" style="display: none;"> Reporting a Claim is possible only to a user who bought an insurance policy from ImRight. If you already bought one, please enter your mobile number</p>
                            <div class="loginContainer__inputOuter">
                                <div class="formField__column input-effect">
                                   <input class="formField__input login_input " type="text" placeholder="" id="consumerId">
                                    <label>Mobile Number/Email Address</label>
                                    <span class="focus-border"></span>
                                    <span class="yErrMsg" id="yErrMsg-mbl-number"></span>
                                </div>
                                <span class="sprite validMark"></span>
                                <span class="sprite inValidMark"></span><span class="formField__inputMandatory"></span>
                            </div>
                            @*<a class="loginContainer__forgotPassword js__loginContainer__forgotPassword" href="javascript:;" style="margin-top:30px;">Don&apos;t have mobile number? / Use Email id</a>*@
                            <button class="loginContainer__submitBtn js__loginContainer__submitBtn" type="submit" name="name" value="" id="sendOTPToMbl" onclick="return (loginValidate());">SEND OTP</button>
                        </div>
                        </form>
                        
                    @*    <form class="js__loginContainer__form loginContainer__form">
                        <div class="forgotPassword">
                            <div class="loginContainer__inputOuter">
                                <div class="formField__column input-effect">
                                    <input class="formField__input login_input email-only" maxlength="50" type="email" placeholder="" id="consumerEmail">
                                    <label>Email ID</label>
                                     <span class="focus-border"></span>
                                    <span class="yErrMsg" id="yErrMsg_email"></span>
                                </div>
                                <span class="sprite validMark"></span>
                                <span class="sprite inValidMark"></span><span class="formField__inputMandatory"></span>
                            </div>
                            <button class="forgotPassword__buttons loginContainer__submitBtn js__loginContainer__mailSubmitBtn" type="submit" name="name" value="" id="sendOTPToEmail" onclick="return (emailValidate());">Submit</button>
                            <button class="forgotPassword__buttons js__loginContainer__cancelBtn loginContainer__cancelBtn" type="button" name="name" value="">Cancel</button>
                        </div>
                     </form> *@
                    
                    <form class="loginContainer__form" action="index.html" method="post" onSubmit="return false;">
                        <div class="js__loginContainer__phoneOtp loginContainer__Otp">
                            <div class="loginContainer__inputOuter">
                                <div class="loginContainer__inputInner">
                                    <div class="formField__column input-effect">
                                        <input class="formField__input login_input digit-only" type="email" placeholder="" maxlength="4" id="mobileOTP">
                                        <label>Enter Mobile OTP</label>
                                         <span class="focus-border"></span>
                                    	 <span class="yErrMsg" id="yErrMsg_mobile_otp"></span>
                                    </div>
                                    <span class="formField__inputMandatory"></span>
                                    <span class="sprite validMark validMark--active"></span>
                                    <span class="sprite inValidMark"></span>
                                </div>
                                <div class="opt__section">
                                    <a href="javascript:;" class="resendOtp" id="resendOTPtoMobile">Re-send OTP</a>
                                    <span class="yErrMsg" id="yErrMsg-mbl-number-resend-status"></span>
                                </div>
                            </div>
                            <button class="loginContainer__submitBtn js__loginContainer__doneBtn" type="submit" name="name" value="" id ="verifyOTPforMobile" onclick="return (verifyMobileOTPValidate());">Done</button>
                        </div>
                        <div class="js__loginContainer__mailOtp loginContainer__Otp">
                            <div class="loginContainer__inputOuter">
                                <div class="loginContainer__inputInner">
                                    <div class="formField__column input-effect">
                                        <input class="formField__input login_input digit-only" type="text" placeholder="" maxlength="4" id="emailOTP">
                                        <label>Enter Email OTP</label>
                                         <span class="focus-border"></span>
                                    	 <span class="yErrMsg" id="yErrMsg_email_otp"></span>
                                    </div>
                                    <span class="formField__inputMandatory"></span>
                                    <span class="sprite validMark validMark--active"></span>
                                    <span class="sprite inValidMark"></span>
                                </div>
                                <div class="opt__section">
<!--                                     <p class="OPT__text">ENTER OTP</p> -->
                                    <a href="javascript:;" class="resendOtp" id="resendOTPtoEmail">Re-send OTP</a>
                                    <span class="yErrMsg" id="yErrMsg-email-resend-status"></span>
                                </div>
                            </div>
                            <button class="js__loginContainer__doneBtn loginContainer__submitBtn" type="submit" name="name" value="" id="verifyOTPforEmail" onclick="return (verifyEmailOTPValidate());">Done</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <!--Login section end-->

    <script src="@js_url/site/validation.js@version"></script>
	<script src="@js_url/site/login.js@version"></script>
	<script src="@js_url/site/index.js@version"></script>
	