@(jsonData : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import play.libs.Json;

@csses ={
<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
<link rel="stylesheet" href="@css_url/site/procurement/health/health_home.css@version">
<style>
		.loginContainer_page {
		  padding: 0px !important;
		  width: 80% !important;
		}
		.policydetails_page {
		  width: 700px !important;
		}
		.policyBlock__detailBoxOuter_color{
		  background: white !important;
		}
</style>
}

  @footerJS = {
    <!--Common-->
    <script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
    <script src="@js_url/site/index.js@version"></script>
    <script src="@js_url/site/validation.js@version"></script>
	<script src="@js_url/site/login.js@version"></script>
	<script>
		var userName = "@session.get("userName")";
		var logoutTrigger = "@request().getQueryString("logout")";
		var session= "@session";
		var authUrl = "@session.get("auth_url")";

		$(function(){
			renewFlag = "@request().getQueryString("renew")";
			incompleteFlag = "@request().getQueryString("incomplete")";
			if(userName!=""){
				if(window.location.pathname != "/session/user/choosetype") {
					window.location.href = "/session/user/choosetype";
				}
			} 
		});
	</script>
}

@sessionGetter(variant : String)={@if(session.containsKey(variant) && session.get(variant)!=null){@session.get(variant)}}

@com.arka.consumerportal.sessionweb.views.html.loginPagewebmain("Imright | ConsumerPortal",proputils, footerJS=footerJS,csses=csses) {
   <!--Template Start-->
        <section class="policySection">
            <div class="container">
                <div class="policyBlock">
                    <div class="policyBlock__details policydetails_page">
								<div class="policyBlock__detailBoxOuter  policyBlock__detailBoxOuter_color" data-tab="1" style="display: block;">
									<form class="js__loginContainer__form loginContainer__form" action="#" onSubmit="return false;" method="" id="loginForm">
                    	<div class="loginContainer__formValidator">
                    		
                    	</div>
                        <div class="loginContainer__formInner js__loginContainer__formInner loginContainer_page">
                            <div class="loginContainer__inputOuter">
                                <div class="formField__column input-effect">
                                   <input class="formField__input login_input" type="text" placeholder="" id="consumerMobileNumber" maxlength="10">
                                    <label>Mobile Number</label>
                                    <span class="focus-border"></span>
                                    <span class="yErrMsg"></span>
                                </div>
                                <span class="sprite validMark"></span>
                                <span class="sprite inValidMark"></span><span class="formField__inputMandatory"></span>
                            </div>
                            <a class="loginContainer__forgotPassword js__loginContainer__forgotPassword" href="javascript:;" title="Forgot password" style="margin-top:20px;">Dont have mobile number? / Forgot Username?</a>
                            <button class="loginContainer__submitBtn js__loginContainer__submitBtn" type="button" name="name" value="" id="sendOTPToMbl" onclick="return (mobileNumberValidate());">SEND OTP</button>
                        </div>
                        <div class="forgotPassword">
                            <div class="loginContainer__inputOuter">
                                <div class="formField__column input-effect loginContainer_page">
                                    <input class="formField__input login_input" type="email" placeholder="" id="consumerEmail">
                                    <label>Email ID</label>
                                     <span class="focus-border"></span>
                                    <span class="yErrMsg"></span>
                                </div>
                                <span class="sprite validMark"></span>
                                <span class="sprite inValidMark"></span><span class="formField__inputMandatory"></span>
                            </div>
                            <button class="forgotPassword__buttons loginContainer__submitBtn js__loginContainer__mailSubmitBtn" type="button" name="name" value="" id="sendOTPToEmail">Submit</button>
                            <button class="forgotPassword__buttons js__loginContainer__cancelBtn loginContainer__cancelBtn" type="button" name="name" value="">Cancel</button>
                        </div>
                    </form>
                    <form class="loginContainer__form" action="" method="post" onSubmit="return false;">
                        <div class="js__loginContainer__phoneOtp loginContainer__Otp">
                            <div class="loginContainer__inputOuter">
                                <div class="loginContainer__inputInner">
                                    <div class="formField__column input-effect">
                                        <input class="formField__input login_input" type="email" placeholder="" maxlength="4" id="mobileOTP">
                                        <label>Enter Mobile OTP</label>
                                         <span class="focus-border"></span>
                                    	 <span class="yErrMsg"></span>
                                    </div>
                                    <span class="formField__inputMandatory"></span>
                                    <span class="sprite validMark validMark--active"></span>
                                    <span class="sprite inValidMark"></span>
                                </div>
                                <div class="opt__section">
                                    <a href="javascript:;" class="resendOtp" id="resendOTPtoMobile">Re-send OTP</a>
                                </div>
                            </div>
                            <button class="loginContainer__submitBtn js__loginContainer__doneBtn" type="button" name="name" value="" id ="verifyOTPforMobile" onclick="return (verifyMobileOTPValidate());">Done</button>
                        </div>
                        <div class="js__loginContainer__mailOtp loginContainer__Otp">
                            <div class="loginContainer__inputOuter">
                                <div class="loginContainer__inputInner">
                                    <div class="formField__column input-effect">
                                        <input class="formField__input login_input" type="text" placeholder="" maxlength="4" id="emailOTP">
                                        <label>Enter Email OTP</label>
                                         <span class="focus-border"></span>
                                    	 <span class="yErrMsg"></span>
                                    </div>
                                    <span class="formField__inputMandatory"></span>
                                    <span class="sprite validMark validMark--active"></span>
                                    <span class="sprite inValidMark"></span>
                                </div>
                                <div class="opt__section">
                                    <p class="OPT__text">ENTER OTP</p>
                                    <a href="javascript:;" class="resendOtp" id="resendOTPtoEmail">Re-send OTP</a>
                                </div>
                            </div>
                            <button class="js__loginContainer__doneBtn loginContainer__submitBtn" type="button" name="name" value="" id="verifyOTPforEmail">Done</button>
                        </div>
                    </form>
									
                                </div>
                            </div>                      
                        </div>
                    </div>

        </section>
    <!--Template End-->
}