@(jsonData : com.fasterxml.jackson.databind.JsonNode, proputils : com.arka.common.utils.PropUtils)
@import com.typesafe.config.ConfigFactory; var version="?v="+ ConfigFactory.load().getString("arka.resources.version");
@import java.lang.String; var image_url= proputils.get("arka.public.assets.img")
@import java.lang.String; var css_url= proputils.get("arka.public.assets.css")
@import java.lang.String; var js_url= proputils.get("arka.public.assets.js")
@import java.lang.String; var plugins_url= proputils.get("arka.public.assets.plugins")
@import play.libs.Json;

@csses ={
	<link rel="stylesheet" href="@plugins_url/widgets/sweetalert/sweetalert.css@version">
	<link rel="stylesheet" href="@css_url/site/procurement/health/health_home.css@version">
	<style>
			.loginContainer_page {
				padding: 0px !important;
				width: 100% !important;
			}
			.policydetails_page {
				width: 500px !important;
			}
			.policyBlock__detailBoxOuter_color{
				background: white !important;
			}
			.account__section:before {
				top: 0px;
			}
			.form-control[readonly] {
				background-color: #fff;
			}
			.input-group { 
				font-size: 1.5em !important; 
			}
			.hand, input {
				cursor: pointer;
			}
			.policyBlock__detailBoxOuter{
				min-height:0px;
				height:250px;
				padding-top: 10px;
			}
			.policyBlock__btnBlock {
				padding: 0px;
			}
	</style>
}

  @footerJS = {
    <!--Common-->
    <script src="@plugins_url/widgets/sweetalert/sweetalert.min.js@version"></script>
    <script src="@js_url/site/index.js@version"></script>
    <script src="@js_url/site/validation.js@version"></script>
	<script src="@js_url/site/login.js@version"></script>
	<script>
		function selectUserType(userType) {
			document.getElementById(userType).checked = true;
		}
	</script>
}

@sessionGetter(variant : String)={@if(session.containsKey(variant) && session.get(variant)!=null){@session.get(variant)}}

@com.arka.consumerportal.sessionweb.views.html.loginPagewebmain("Imright | ConsumerPortal",proputils, footerJS=footerJS,csses=csses) {
	<section class="policySection">
		<div class="container">
			<div class="policyBlock">
				<div class="policyBlock__details policydetails_page">
					<div class="policyBlock__detailBoxOuter  policyBlock__detailBoxOuter_color" data-tab="1" style="display: block;">
						<div style="text-align:center;">
							<h3 class="detail-title hidden-xs hidden-sm" style="font-size:20px; color: black; margin-bottom: 15px;">Login as</h3>
						</div>
						<form class="js__loginContainer__form loginContainer__form" action="/session/loginAs" method="POST" id="loginForm">
							<div class="loginContainer__formInner js__loginContainer__formInner loginContainer_page">
					            <div class="loginContainer__inputOuter">
					            	<div class="policyBlock__exiRadioBox js__expiredMainDiv" style="width:100%;">
										<div class="policyBlock__exiRadioBlock" style="width:50%;">
											<input type="radio" value='1'class="policyBlock__exiRadioBtn iknowPolicyStatusClass" id="myNoPolicyClaimFrm-8" name="userType">
											<label for="myNoPolicyClaimFrm-8" class="policyBlock__exiRadioLabel">Corporate admin</label>
										</div>
										<div class="policyBlock__exiRadioBlock js__expiredShow" style="width:50%;">
											<input type="radio" value='2' class="policyBlock__exiRadioBtn iknowPolicyStatusClass" id="myNoPolicyClaimFrm-81"  name="userType">
											<label for="myNoPolicyClaimFrm-81" class="policyBlock__exiRadioLabel">Individual user</label>
										</div>
									</div>
									<div class="row" style="text-align: center">
										<div class="policyBlock__btnBlock" style="z-index: 1; margin: 25px 0px;">
											<button class="policyBlock__btn">Go</button>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
    <!--Template End-->
}